# Systemd service file for ldap_proxy daemon
#
# Date: Feb 9, 2016
# Author: Adam Hodgen <adam@hodgen.uk>

[Unit]
Description=ldap_proxy daemon service
After=syslog.target network.target

[Service]
# www-data group and user need to be created before using these lines
User=www-data
Group=www-data

ExecStart=/usr/local/bin/ldap_proxy -config=/etc/ldap_proxy.cfg
ExecReload=/bin/kill -HUP $MAINPID

KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
